<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_4c39207000564711868f3196cc0a8748/default/dark/4.0 ">
    <title>DontAddThisBot - <%= poroInfo.username %></title>
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
<div>
    <center>
        <table>
            <thead>

            <tr>
                <img src="img/poroHappy.png"width="50" height="50"style = "position:relative; left:-350px; top:15px;text-align: center;right:0;">
                <a style = "position:relative; left:-330px; top:0px;text-align: center;right:0;font-size: 20px" href="/"><strong>DontAddThisBot</strong></a>
            </tr>
            <tr>
                <a href="/leaderboard" style = "position:relative; left:140px; top:0px;text-align: center;right:0;">Leaderboard</a>
            </tr>
            <tr>
                <a href="/commands" style = "position:relative; left:180px; top:0px;text-align: center;right:0;">Commands</a>
            </tr>
            <tr>
                <a href="/search" style = "position:relative; left:220px; top:0px;text-align: center;right:0;">Search</a>
            </tr>
            <tr>
                <a  href=https://github.com/kattah7 target="_blank"><img src="img/githublogo.png"width="40" height="40"style = "position:relative; left:270px; top:10px;text-align: center;right:0;"></a>
            </tr>


            </thead>
        </table>
    </center>
    <center style = "position:relative; left:-30px; top:150px;text-align: center;right:0;">
        <a style = "position:relative; top:-10px;">Search For Another User</a>
            <thead>
                <form class="d-flex" action="/channel" method="GET" style="text-transform:lowercase">
                    <input class="form-control" name="user" type="text" placeholder="Channel" style="max-width: 250px" autofocus="" required=""
                           maxlength="26">
                    <input class="btn btn-primary" type="submit" value="ðŸ”" ></form>
                    <img width="140" height="140"style = "position:relative; left:0px; top:40px;text-align: center;right:0;"src=<%= api.logo %>>
            </thead>
            
        
    </center>
    <center style="position:relative; left:-30px; top:200px;text-align: center;right:0;">
        <h3>
            Username: <%= poroInfo.username %>
        </h3>
        <h3>
            #<%= myPoroRank %>/<%= AllPoroRank %> of Poro Count
        </h3>
        <h3>
            PoroCount: <%= poroInfo.poroCount %>
        </h3>
        <h3>
            Prestige: <%= poroInfo.poroPrestige %>
        </h3>
        <h3>
            Registered: <%= register %> Ago
        </h3>
    </center>
</div>
</body>
</html>