<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_4c39207000564711868f3196cc0a8748/default/dark/4.0 ">
    <title>DontAddThisBot - Leaderboard</title>
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
<div>
    <center>
        <table>
            <thead>

            <tr>
                <img src="img/poroHappy.png"width="50" height="50"style = "position:relative; left:-350px; top:15px;text-align: center;right:0;">
                <a style = "position:relative; left:-330px; top:0px;text-align: center;right:0;font-size: 20px" href="/"><strong>DontAddThisBot</strong></a>
            </tr>
            <tr>
                <a href="/leaderboard" style = "position:relative; left:140px; top:0px;text-align: center;right:0;">Leaderboard</a>
            </tr>
            <tr>
                <a href="/commands" style = "position:relative; left:180px; top:0px;text-align: center;right:0;">Commands</a>
            </tr>
            <tr>
                <a href="/api" style = "position:relative; left:220px; top:0px;text-align: center;right:0;">API</a>
            </tr>
            <tr>
                <a  href=https://github.com/kattah7 target="_blank"><img src="img/githublogo.png"width="40" height="40"style = "position:relative; left:270px; top:10px;text-align: center;right:0;"></a>
            </tr>


            </thead>
        </table>
    </center>
    <center>
        <h1 style = "position:relative; left:-50px; top:40px;text-align: center;right:0;">Leaderboard</h1>
        <h2 style = "position:relative; left:-350px; top:100px;text-align: center;right:0;">Showing Top 10 <br>poro meat count<br><br><span style="color:#FFD700;background-color: transparent;">Top 1</span> Gets a special <br>/me response from the bot</h2>
        <h3 style = "position:relative; left:40px; top:-110px;text-align: center;right:0;"><span style="color:#FFD700;background-color: transparent;">#1</span></h3>
        <h3 style = "position:relative; left:40px; top:-80px;text-align: center;right:0;"><span style="color:#C0C0C0;background-color: transparent;">#2</span></h3>
        <h3 style = "position:relative; left:40px; top:-50px;text-align: center;right:0;"><span style="color:#CD7F32;background-color: transparent;">#3</span></h3>
        <h3 style = "position:relative; left:40px; top:-50px;text-align: center;right:0;"><span style="color:#141414;background-color: transparent;">#4</span></h3>
        <h3 style = "position:relative; left:40px; top:-50px;text-align: center;right:0;"><span style="color:#141414;background-color: transparent;">#5</span></h3>
        <h3 style = "position:relative; left:40px; top:-50px;text-align: center;right:0;"><span style="color:#141414;background-color: transparent;">#6</span></h3>
        <h3 style = "position:relative; left:40px; top:-50px;text-align: center;right:0;"><span style="color:#141414;background-color: transparent;">#7</span></h3>
        <h3 style = "position:relative; left:40px; top:-50px;text-align: center;right:0;"><span style="color:#141414;background-color: transparent;">#8</span></h3>
        <h3 style = "position:relative; left:40px; top:-50px;text-align: center;right:0;"><span style="color:#141414;background-color: transparent;">#9</span></h3>
        <h3 style = "position:relative; left:40px; top:-50px;text-align: center;right:0;"><span style="color:#141414;background-color: transparent;">#10</span></h3>

        <h3 style = "position:relative; left:250px; top:-550px;text-align: center;right:0;"><%= porosLB1 %></h3>

        <h3 style = "position:relative; left:250px; top:-515px;text-align: center;right:0;"><%= porosLB2 %></h3>

        <h3 style = "position:relative; left:250px; top:-485px;text-align: center;right:0;"><%= porosLB3 %></h3>

        <h3 style = "position:relative; left:250px; top:-490px;text-align: center;right:0;"><%= porosLB4 %></h3>

        <h3 style = "position:relative; left:250px; top:-490px;text-align: center;right:0;"><%= porosLB5 %></h3>

        <h3 style = "position:relative; left:250px; top:-490px;text-align: center;right:0;"><%= porosLB6 %></h3>
        <h3 style = "position:relative; left:250px; top:-490px;text-align: center;right:0;"><%= porosLB7 %></h3>

        <h3 style = "position:relative; left:250px; top:-490px;text-align: center;right:0;"><%= porosLB8 %></h3>

        <h3 style = "position:relative; left:250px; top:-490px;text-align: center;right:0;"><%= porosLB9 %></h3>

        <h3 style = "position:relative; left:250px; top:-490px;text-align: center;right:0;"><%= porosLB10 %></h3>
    </center>
    <center>
        <body>
            <img src="https://i.imgur.com/3vuffNG.gif"style="position:relative; left:-350px; top:-650px; width: 600px;height:200px;">
        </body>
    </center>
</div>
</body>
</html>